<header>
    <nav>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="register">Register</a>
            </li>
            <li>
                <a href="login">Login</a>
            </li>
        </ul>
    </nav>
    <section class="jumbotron">
        <!--source: https://www.youtube.com/watch?v=oT5qeQft5CE -->
        <video src="assets/love-intro.mp4" autoplay muted loop></video>
        <div>
            <p>
                Find love with the music you both hate!
            </p>
            <a href="/register">Register now</a>
        </div>
    </section>
</header>