:root{
    --primary-color: #FF8A65;
    --secondary-color: white;
    --material-shaduw-1: 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --material-shaduw-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --material-shaduw-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --material-shaduw-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: blue;
    position: relative;
    padding-top: 4em;
}

header nav{
    position: fixed;
    top: 0;
    background-color: var(--primary-color);
    display: flex;
    z-index: 100;
    height: 4em;
    width: 100%;
    box-shadow: var(--material-shaduw-1);
}

.jumbotron{
    height: 100vh;
    width: 100%;
    background-color: red;
    position: relative;
    color: white;
}

.jumbotron video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jumbotron div{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.76);
}

.jumbotron a{
    color: var(--primary-color);
    padding: 0.6rem;
    font-size: 2em;
    background-color: transparent;
    border: solid 0.7rem var(--primary-color);
    margin-top: 4rem;
    transition: all 0.4s;
}
.jumbotron a:hover, .jumbotron a:focus{
    color: white;
    background-color: var(--primary-color);
}

.jumbotron p{
    display: flex;
    font-size: 14vw;
    font-weight: bold;
    width: 80%;
    margin-top: 4rem;
    text-align: center;
}
@media (min-width: 34em){
    .jumbotron p{
        font-size: 10vw;
    }
}
@media (min-width: 50em){
    .jumbotron p{
        font-size: 7vw;
    }
}

header a {
    text-decoration: none
}


header nav ul{
    display: flex;
    width: 100%;
}

header nav ul li{
    font-size: 1.2em;
    list-style: none;
}

header nav ul li:nth-last-of-type(2){
    margin-left: auto;
}

header nav a{
    padding: 1.4rem;
    display: flex;
}


/******************Main**************/
main{
    min-height: 100vh;
    background-color: rgb(228, 228, 228);
}

.explaining{
    display: grid;
    box-shadow: var(--material-shaduw-1)
}
@media (min-width: 40em){
    .explaining{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'illustration explaining';
        max-height: 120em;
        height: 95vh;
        position: relative;
    }
}

.explaining .illustration-container{
    height: 30em;
}
@media (min-width: 40em){
    .explaining .illustration-container{
        height: 100%;
        grid-area: illustration;
    }
    .explaining:nth-of-type(even) .illustration-container{
        grid-area: explaining;
    }
}
.explaining .illustration-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explaining .explaining-text{
    padding: 2rem;
    background-color: #fff;
}
@media (min-width: 40em){
    .explaining .explaining-text{
        grid-area: explaining;
        padding: 5rem;
    }

    .explaining:nth-of-type(even) .explaining-text{
        grid-area: illustration;
    }
}

.explaining .explaining-text h2{
    font-size: 10vw;
    margin-bottom: 1.4rem;
    color: var(--primary-color);
}
@media (min-width: 40em){
    .explaining .explaining-text h2{
        font-size: 7em;
        background-color: #fff;
        position: relative;
        z-index: 2;
    }
}

.explaining .explaining-text p{
    font-size: 4vw;
}
@media (min-width: 40em){
    .explaining .explaining-text p{
        font-size: 2em;
        position: sticky;
        bottom: 0;
        z-index: 1;
    }
}

/*//////////////////////////////////
    Register page
/////////////////////////////////*/
.register fieldset{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.register fieldset div{
    margin-bottom: 1rem;
    box-shadow: var(--material-shaduw-2);
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    max-width: 34em;
    margin: 1rem;
    animation: 1s fade-in;
}
@keyframes fade-in{
    from{
        opacity: 0;
        transform: translateY(4em)
    }

    to{
        opacity: 1;
        transform: translateY(0)
    }
}

.register fieldset audio {
    width: 100%;
    height: 2em;
    margin-bottom: 1rem;
}

.register fieldset h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 2em;
    color: var(--primary-color);
    order: -1;
    background-color: var(--secondary-color);
    padding: 0.7rem;
}

.register fieldset form{
    padding: 1.4rem;
}

.register fieldset input{
    display: block;
}

.register legend{
    font-size: 4em;
    font-weight: bold;
    padding: 0.7rem;
    text-align: center;
}

.register .other label{
    display: flex;
    padding: 0.7rem;
}

.register .other input{
    display: flex;
    width: 100%;
    padding: 1rem;
    margin: 0.7rem;
    border: none;
}

.register .next{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
}

.register .next a{
    display: flex;
    padding: 0.7rem;
    font-size: 1.4em;
    text-decoration: none;
}


/* smalll components*/
.button{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 0.4rem solid var(--primary-color);
    transition: all 0.4s;
}

.button:hover, .button:focus{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.user-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.user-form div {
    max-width: 30em;
    box-shadow: var(--material-shaduw-2);
    animation: fade-in 1s;
}

.user-form h2{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 2rem 1.4rem;
    font-weight: bold;
    font-size: 2em;
}

.user-form form{
    background-color: var(--primary-color);
    padding: 0.7rem;
}

.user-form form label{
    display: flex;
}

.user-form form input{
    border: none;
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
}

.user-form form .button{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}


/*
///////////////////////////////////
    User
//////////////////////////////////
*/

.user .match-container{
    display: flex;
    flex-wrap: wrap;
    color: black;
    justify-content: space-evenly;
}

.user .match-container .match{
    box-shadow: var(--material-shaduw-2);
    background-color: var(--secondary-color);
    margin: 1rem;
    transition: all 0.4s;
}

.user .match-container .match:hover{
    box-shadow: var(--material-shaduw-4);
}

.user .match-container .match ul{
    transition: all 0.7s;
    padding: 2rem;
}

.user .match-container .match li{
    text-decoration: none;
    margin-bottom: 1.4rem;
}

.user .match-container .match li p:first-of-type{
    color: var(--primary-color);
}

.user .match-container .match h2{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 1rem;
    color: var(--primary-color);
    display: flex;
    border-bottom: solid 0.4rem var(--primary-color);
}

.user .match-container .match a{
    text-decoration: none;
    color: black;
}