<%include partials/head.ejs %>
<%include partials/nav_non_member.ejs %>
    <main>
        <section class="explaining">
            <div class="illustration-container">
                <img src="http://www.simplyspeeddating.com.au/wp-content/uploads/2016/08/Couple.jpg" alt="">
            </div>
            <div class="explaining-text">
                <h2>How it works</h2>
                <p>Just fill in the music that you hate and our complex algorithm will handle the rest. You'll match with the
                    person who also the same music genre</p>
            </div>
        </section>
        <section class="explaining">
            <div class="illustration-container">
                <img src="http://www.simplyspeeddating.com.au/wp-content/uploads/2016/08/Couple.jpg" alt="">
            </div>
            <div class="explaining-text">
                <h2>Safe</h2>
                <p>Your ultimate goal in using Parship is to find someone who is right for you. That's why Parship - with the
                    help of the Parship test - only links you to people whose profiles are compatible with yours. Vitally,
                    as a service that protects your anonymity online, we also put you in control as you get to know other
                    members. </p>
            </div>
        </section>

        <section class="explaining">
            <div class="illustration-container">
                <img src="http://www.simplyspeeddating.com.au/wp-content/uploads/2016/08/Couple.jpg" alt="">
            </div>
            <div class="explaining-text">
                <h2>Your data</h2>
                <p>Your date will be professional handled. Also when you've found a partner and don't want to use this application
                    anymore, with the delete function your date will be removed from database.</p>
            </div>
        </section>
    </main>

    <%include partials/tail.ejs %>