<%include head.ejs %>
<header>
    <section class="jumbotron">
        <p>
            Find love with the music you both hate!
        </p>
        <a href="">Register now</a>
    </section>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Register</a></li>
            <li><a href="">Login</a></li>
        </ul>
    </nav>
</header>

<main>

</main>

<%include tail.ejs %>
