<% include partials/head.ejs %>
    <main class="register">
        <fieldset>
            <legend>Which music genre do you really hate</legend>
            <div>
                <audio controls>
                    <source src="assets/music/hip-hop.mp3" type="audio/ogg">
                </audio>
                <h2>Hip hop</h2>
                <form>
                    <input type="radio" name="gender" value="male" checked>
                    <label for="">I dont really hate</label>
                    <input type="radio" name="gender" value="female">
                    <label for="">I hate it a little</label>
                    </input>
                    <input type="radio" name="gender" value="other">
                    <label for="">I get iritated by it</label>
                    </input>
                    <input type="radio" name="gender" value="male">
                    <label for="">I can't stand it</label>
                    </input>
                    <input type="radio" name="gender" value="female">
                    <label for="">Please don't let me listen this!</label>
                    </input>
                </form>
            </div>
            <div>
                <audio controls>
                    <source src="assets/music/hip-hop.mp3" type="audio/ogg">
                </audio>
                <h2>RnB</h2>
                <form>
                    <input type="radio" name="gender" value="male" checked>I dont really hate
                    <input type="radio" name="gender" value="female">I hate it a little
                    <input type="radio" name="gender" value="other">I get iritated by it
                    <input type="radio" name="gender" value="male">I can't stand it
                    <input type="radio" name="gender" value="female">Please don't let me listen this!
                </form>
            </div>
            <div>
                <audio controls>
                    <source src="assets/music/hip-hop.mp3" type="audio/ogg">
                </audio>
                <h2>Rock n Roll</h2>
                <form>
                    <input type="radio" name="gender" value="male" checked>I dont really hate
                    <input type="radio" name="gender" value="female">I hate it a little
                    <input type="radio" name="gender" value="other">I get iritated by it
                    <input type="radio" name="gender" value="male">I can't stand it
                    <input type="radio" name="gender" value="female">Please don't let me listen this!
                </form>
            </div>

            <div>
                <audio controls>
                    <source src="assets/music/hip-hop.mp3" type="audio/ogg">
                </audio>
                <h2>Classic</h2>
                <form>
                    <input type="radio" name="gender" value="male" checked>I dont really hate
                    <input type="radio" name="gender" value="female">I hate it a little
                    <input type="radio" name="gender" value="other">I get iritated by it
                    <input type="radio" name="gender" value="male">I can't stand it
                    <input type="radio" name="gender" value="female">Please don't let me listen this!
                </form>
            </div>

            <div>
                <audio controls>
                    <source src="assets/music/hip-hop.mp3" type="audio/ogg">
                </audio>
                <h2>Metal</h2>
                <form>
                    <input type="radio" name="gender" value="male" checked> I dont really hate
                    <input type="radio" name="gender" value="female">I hate it a little
                    <input type="radio" name="gender" value="other"> I get iritated by it
                    <input type="radio" name="gender" value="male"> I can't stand it
                    <input type="radio" name="gender" value="female">Please don't let me listen this!
                </form>
            </div>

            <div class="other">
                <h2>Other music genre</h2>
                <label for="">Music genre</label>
                <input type="text">
                <label for="">Why</label>
                <input type="text">
            </div>

            <div class='next'><a class="button" href="register2.html">Next</a></div>
        </fieldset>
    </main>

    <%include partials/tail.ejs %>