<% include partials/head.ejs %>

    <main class="register">
        <div class="user-form">
            <div>
                <h2>Fill in your user information</h2>
                <form action="registeren" method="post">
                    <label for="naam">First name*</label>
                    <input id="naam" name="firstName" type="text" placeholder="First name" required="">
                    <label for="achternaam">Last name*</label>
                    <input id="achternaam" name='lastName' type="text" placeholder="Last name" required="">
                    <label for="geboorte_datum">Birthday*</label>
                    <input id="geboorte_datum" name='birthday' type="date" placeholder="Birthday" required="">
                    <label for="email">Email*</label>
                    <input id="email" name='email' type="email" placeholder="Email" required="">
                    <label for="password">Password*</label>
                    <input id="password" name='password' type="password" placeholder="Password" pattern=".{3,}" required="">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </main>
    <% include partials/tail.ejs %>