<% include partials/head.ejs %>
    <main class="register">
        <div class="user-form">
            <div>
                <h2>Fill in your user information</h2>
                <form action="registeren" method="post">
                    <label for="naam">Naam*</label>
                    <input id="naam" name="naam" type="text" placeholder="Naam" required="">
                    <label for="achternaam">Achternaam*</label>
                    <input id="achternaam" name='achternaam' type="text" placeholder="Achternaam" required="">
                    <label for="geboorte_datum">Geboortedatum*</label>
                    <input id="geboorte_datum" name='geboorte_datum' type="date" placeholder="Geboorte datum" required="">
                    <label for="email">Email*</label>
                    <input id="email" name='email' type="email" placeholder="Email" required="">
                    <label for="wachtwoord">Wachtwoord*</label>
                    <input id="wachtwoord" name='wachtwoord' type="password" placeholder="Wachtwoord" pattern=".{3,}" required="">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </main>
    <% include partials/tail.ejs %>