<%include ../partials/head.ejs %>
<%include ../partials/nav_member.ejs %>

<main class="user">
    <main class="user-account">
        <div class="user-form">
            <div>
                <h2>Your information</h2>
                <% console.log(data) %>
                <form action="registeren" method="post">
                    <label for="naam">First name*</label>
                    <input id="naam" name="firstName" type="text" placeholder="First name" required="">
                    <label for="achternaam">Last name*</label>
                    <input id="achternaam" name='lastName' type="text" placeholder="Last name" required="">
                    <label for="geboorte_datum">Birthday*</label>
                    <input id="geboorte_datum" name='birthday' type="date" placeholder="Birthday" required="">
                    <label for="email">Email*</label>
                    <input id="email" name='email' type="email" placeholder="Email" required="">
                    <label for="password">Password*</label>
                    <input id="password" name='password' type="password" placeholder="Password" pattern=".{3,}" required="">
                    <button type="submit">Change</button>
                </form>
            </div>
        </div>
    </main>
</main>

<%include ../partials/tail.ejs %>