<%include ../partials/head.ejs %>

<main class="user">
    <h1>Don't let your match wait</h1>

    <div class="match-container">
    <section class="match">
        <a href="/user/chat">
                <img src="http://static.tumblr.com/8e89822198916a779591666da2c5ccc2/2qih8qe/yMAn89bpa/tumblr_static_5gshafom2foc4g0cok4484gwg.png" alt="Tessa">
                <h2>Tessa</h2>
                <p>Hated music genre:</p>
                <ul>
                    <li>
                        <p>Rock</p>
                        <p>I hate it very much</p>
                    </li>
                    <li>
                        <p>Metal</p>
                        <p>I get iritated by it</p>
                    </li>
                    <li>
                        <p>Clasic</p>
                        <p>It's ok</p>
                    </li>
                </ul>
        </a>
    </section>

    <section class="match">
        <a href="/user/chat">
                <img src="http://static.tumblr.com/8e89822198916a779591666da2c5ccc2/2qih8qe/yMAn89bpa/tumblr_static_5gshafom2foc4g0cok4484gwg.png" alt="Tessa">
                <h2>Tessa</h2>
                <p>Hated music genre:</p>
                <ul>
                    <li>
                        <p>Rock</p>
                        <p>I hate it very much</p>
                    </li>
                    <li>
                        <p>Metal</p>
                        <p>I get iritated by it</p>
                    </li>
                    <li>
                        <p>Clasic</p>
                        <p>It's ok</p>
                    </li>
                </ul>
        </a>
    </section>

    <section class="match">
        <a href="/user/chat">
                <img src="http://static.tumblr.com/8e89822198916a779591666da2c5ccc2/2qih8qe/yMAn89bpa/tumblr_static_5gshafom2foc4g0cok4484gwg.png" alt="Tessa">
                <h2>Tessa</h2>
                <p>Hated music genre:</p>
                <ul>
                    <li>
                        <p>Rock</p>
                        <p>I hate it very much</p>
                    </li>
                    <li>
                        <p>Metal</p>
                        <p>I get iritated by it</p>
                    </li>
                    <li>
                        <p>Clasic</p>
                        <p>It's ok</p>
                    </li>
                </ul>
        </a>
    </section>

    <section class="match">
        <a href="/user/chat">
                <img src="http://static.tumblr.com/8e89822198916a779591666da2c5ccc2/2qih8qe/yMAn89bpa/tumblr_static_5gshafom2foc4g0cok4484gwg.png" alt="Tessa">
                <h2>Tessa</h2>
                <p>Hated music genre:</p>
                <ul>
                    <li>
                        <p>Rock</p>
                        <p>I hate it very much</p>
                    </li>
                    <li>
                        <p>Metal</p>
                        <p>I get iritated by it</p>
                    </li>
                    <li>
                        <p>Clasic</p>
                        <p>It's ok</p>
                    </li>
                </ul>
        </a>
    </section>

</div>
    
</main>

<%include ../partials/tail.ejs %>